{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Добро пожаловать!</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col-md-5">
            <a href="/staff" class="card text-decoration-none text-center p-4 h-100">
                <div class="card-body">
                    <i class="bi bi-person fs-1 mb-3"></i>
                    <h5 class="card-title">Персонал</h5>
                </div>
            </a>
        </div>

        <div class="col-md-5">
            <a href="/conversations" class="card text-decoration-none text-center p-4 h-100">
                <div class="card-body">
                    <i class="bi bi-chat-dots fs-1 mb-3"></i>
                    <h5 class="card-title">Чаты</h5>
                </div>
            </a>
        </div>

        <div class="col-md-5">
            <a href="/queue" class="card text-decoration-none text-center p-4 h-100">
                <div class="card-body">
                    <i class="bi bi-list-task fs-1 mb-3"></i>
                    <h5 class="card-title">Очередь сообщений</h5>
                </div>
            </a>
        </div>

        <div class="col-md-5">
            <a href="/warns" class="card text-decoration-none text-center p-4 h-100">
                <div class="card-body">
                    <i class="bi bi-emoji-neutral fs-1 mb-3"></i>
                    <h5 class="card-title">Санкции</h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}