{% extends "includes/base.html" %}

{% block content %}
<div class="container mt-4">
    <!-- Контейнер для вкладок и контента -->
    <div class="row">
        <!-- Блок с вкладками -->
        <div class="col-md-3">
            <h4>Настройки чата {%if peer_name %}{{ peer_name }}{% else %}{{ peer_id }}{% endif %}</h4>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="position: sticky; top: 20px; height: calc(93svh - 100px); overflow-y: auto;">
                <a class="nav-link active" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="true">Настройки</a>
                <a class="nav-link" id="v-pills-links-tab" data-bs-toggle="pill"  href="#v-pills-links" role="tab" aria-controls="v-pills-links" aria-selected="false">Запрещенные ссылки</a>
                <a class="nav-link" id="v-pills-domains-tab" data-bs-toggle="pill" href="#v-pills-domains" role="tab" aria-controls="v-pills-domains" aria-selected="false">Запрещенные домены</a>
                <a class="nav-link" id="v-pills-words-tab" data-bs-toggle="pill" href="#v-pills-words" role="tab" aria-controls="v-pills-words" aria-selected="false">Запрещенные слова</a>
            </div>
        </div>

        <!-- Блок с контентом вкладок -->
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">

                <!-- Вкладка "Настройки" -->
                <div class="tab-pane fade show active" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h3>Настройки</h3>
                    <div style="max-height: 75svh; overflow-y: auto; margin-bottom: 20px; position: relative;">
                        <table class="table table-bordered">
                            <!-- Фиксированная шапка таблицы -->
                            <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                                <tr>
                                    <th>Имя настройки</th>
                                    <th>Значение</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category, group in settings|groupby('category') %}
                                    <tr>
                                        <td colspan="3" style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">
                                            {{ category }}
                                        </td>
                                    </tr>
                                    {% for setting in group %}
                                        <tr>
                                            <td>{{ setting.alias_ }}</td>
                                            <td>
                                                {% if "active" in setting.value.lower() or "inactive" in setting.value.lower() or "active_quiet_delete" in setting.value.lower() %}
                                                    <select class="form-select setting-input" id="{{ setting.key }}" data-original-value="{{ setting.value }}" onchange="updateSelectBorder(this)">
                                                        <option value="active" {% if "active" in setting.value.lower() %}selected{% endif %}>Активно</option>
                                                        <option value="inactive" {% if "inactive" in setting.value.lower() %}selected{% endif %}>Неактивно</option>
                                                        <option value="active_quiet_delete" {% if "active_quiet_delete" in setting.value.lower() %}selected{% endif %}>Только удалять</option>
                                                    </select>
                                                {% elif "allowed" in setting.value.lower() or "disallowed" in setting.value.lower() or "disallowed_quiet_delete" in setting.value.lower() %}
                                                    <select class="form-select setting-input" id="{{ setting.key }}" data-original-value="{{ setting.value }}" onchange="updateSelectBorder(this)">
                                                        <option value="allowed" {% if "allowed" in setting.value.lower() %}selected{% endif %}>Разрешено</option>
                                                        <option value="disallowed" {% if "disallowed" in setting.value.lower() %}selected{% endif %}>Запрещено</option>
                                                        <option value="disallowed_quiet_delete" {% if "disallowed_quiet_delete" in setting.value.lower() %}selected{% endif %}>Только удалять</option>
                                                    </select>
                                                {% else %}
                                                    <input type="text" class="form-control setting-input" id="{{ setting.key }}" value="{{ setting.value }}" data-original-value="{{ setting.value }}">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" id="save-settings" onclick="saveSettings({{ peer_id }})">Сохранить настройки</button>
                    </div>
                </div>

                <!-- Вкладка "Ссылки" -->
                <div class="tab-pane fade" id="v-pills-links" role="tabpanel" aria-labelledby="v-pills-links-tab">
                    <h3>Запрещенные ссылки</h3>
                    <div class="table-responsive" style="max-height: 70svh; overflow-y: auto; margin-bottom: 20px; position: relative;">
                        <table class="table table-striped">
                            <thead class="sticky-top bg-white">
                                <tr>
                                    <th>Ссылка</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for link in forbidden_links %}
                                    <tr id="link-{{ link.id }}">
                                        <td>{{ link.value }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" onclick="openDeleteModal('link', {{ link.id }})">Удалить</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success" onclick="openAddLinkModal()">Добавить ссылку</button>
                    </div>
                </div>

                <!-- Вкладка "Домены" -->
                <div class="tab-pane fade" id="v-pills-domains" role="tabpanel" aria-labelledby="v-pills-domains-tab">
                    <h3>Запрещенные домены</h3>
                    <div class="table-responsive" style="max-height: 70svh; overflow-y: auto; margin-bottom: 20px; position: relative;">
                        <table class="table table-striped">
                            <thead class="sticky-top bg-white">
                                <tr>
                                    <th>Домен</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for host in forbidden_hosts %}
                                    <tr id="host-{{ host.id }}">
                                        <td>{{ host.value }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" onclick="openDeleteModal('host', {{ host.id }})">Удалить</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success" onclick="openAddHostModal()">Добавить домен</button>
                    </div>
                </div>

                <!-- Вкладка "Слова" -->
                <div class="tab-pane fade" id="v-pills-words" role="tabpanel" aria-labelledby="v-pills-words-tab">
                    <h3>Запрещенные слова</h3>
                    <div class="table-responsive" style="max-height: 70svh; overflow-y: auto; margin-bottom: 20px; position: relative;">
                        <table class="table table-striped">
                            <thead class="sticky-top bg-white">
                                <tr>
                                    <th>Шаблон</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for word in forbidden_words %}
                                    <tr id="word-{{ word.id }}">
                                        <td>{{ word.value }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" onclick="openDeleteModal('word', {{ word.id }})">Удалить</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="text-muted mt-3">
                            <small>
                                Вы можете использовать регулярные выражения для создания шаблонов.
                            </small>
                        </div>
                        <button class="btn btn-success" onclick="openAddWordModal()">Добавить слово</button>
                    </div>
            </div>
        </div>
    </div>
</div>

        
<!-- Модальное окно для удаления -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удалить элемент</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот элемент?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" onclick="confirmDelete({{ peer_id }})">Удалить</button>
            </div>
        </div>
    </div>
</div>


<!-- Модальное окно для добавления ссылки -->
<div class="modal fade" id="addLinkModal" tabindex="-1" aria-labelledby="addLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLinkModalLabel">Добавить ссылку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addLinkForm">
                    <div class="mb-3">
                        <label for="linkValue" class="form-label">Ссылка</label>
                        <input type="text" class="form-control" id="linkValue" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success" onclick="addLink({{ peer_id }})">Добавить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления домена -->
<div class="modal fade" id="addHostModal" tabindex="-1" aria-labelledby="addHostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addHostModalLabel">Добавить домен</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addHostForm">
                    <div class="mb-3">
                        <label for="hostValue" class="form-label">Домен</label>
                        <input type="text" class="form-control" id="hostValue" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success" onclick="addHost({{ peer_id }})">Добавить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления слова -->
<div class="modal fade" id="addWordModal" tabindex="-1" aria-labelledby="addWordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addWordModalLabel">Добавить слово</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addWordForm">
                    <div class="mb-3">
                        <label for="wordValue" class="form-label">Слово</label>
                        <input type="text" class="form-control" id="wordValue" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success" onclick="addWord({{ peer_id }})">Добавить</button>
            </div>
        </div>
    </div>
</div>


<!-- Подключение JS -->
<script src="/static/js/settings.js"></script>
{% endblock %}