input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    appearance: unset;
    -moz-appearance: textfield;
}

small.form-text {
    margin-top: 0.25rem;
}

