body{
    margin: 0;
    padding: 0;
}

header {
    width: 100svw;
    height: 5svh;
}

main {
    width: 100svw;
    height: 93vh;
    font-family: "Rubik", serif;
}

footer {
    width: 100svw;
    height: 2svh;
    
}


.card {
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}